{% extends 'base.html' %}
{% block title %}MANAGE YOUR ACCOUNT{% endblock %}
{% block styles %}

<style>


    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link {
        border: none;
        transition: none;
        /* border-bottom: 2px solid #333; */
    }

    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        border: none;
        border-bottom: 2px solid #20c997;
    }

    .card-img {
        height: 150px;
        background: #ccc;
    }

    .nav {
        border-right: 1px solid #ccc;
    }
    .nav-pills .nav-link.active {
        background: #333;
    }
   
    .events li {
        display: flex;
    }

    .events time {
        position: relative;
        color: #ccc;
        padding: 0 1.5em;
    }

    .events time::after {
        content: "";
        position: absolute;
        z-index: 2;
        right: 0;
        top: 0;
        transform: translateX(50%);
        border-radius: 50%;
        background: #fff;
        border: 1px #ccc solid;
        width: 1.5em;
        height: 1.5em;
    }

    .events time.completed::after {
        background: green;
    }

    .events span {
        padding: 0 1.5em 1.5em 2em;
        position: relative;
    }

    .events span::before {
        content: "";
        position: absolute;
        z-index: 1;
        left: 0;
        height: 100%;
        border-left: 2px #ccc dashed;
    }

    .events span.completed::before {
        border-left: 2px green solid;
    }

    .events strong {
        display: block;
        font-weight: bolder;
    }

    .events {
        margin: 1em;
        width: 50%;
    }

    .events,
    .events *::before,
    .events *::after {
        box-sizing: border-box;
        font-family: arial;
    }



    @media (max-width:480px)   {
   .nav-link{

        width: fit-content;
    }

    .h4{

        font-size: 16px;
    }
    
}

.center_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h3, .h3, h4, .h4 {
    font-weight: 500;
}


</style>


{% endblock %}
{% block content %}<br><br><br><br><br>
<div class="container">
    <div class="row pt-4">
        <div class="nav col-3 flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link" id="v-pills-accounts-tab" data-toggle="pill" href="#v-pills-accounts" role="tab"
                aria-controls="v-pills-accounts" onclick="window.location.replace('http://127.0.0.1:8000/accounts/');" aria-selected="true">My Acoount</a>
            <a class="nav-link active" id="v-pills-myorders-tab" data-toggle="pill" href="#v-pills-myorders" role="tab"
                aria-controls="v-pills-myorders"  aria-selected="true">My Orders</a>
            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
                aria-controls="v-pills-messages" onclick="window.location.replace('http://127.0.0.1:8000/accounts/myaddress');" aria-selected="false">Manange Address</a>
            <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab"
                aria-controls="v-pills-settings" aria-selected="false">Logout</a>
        </div>
        <div class="tab-content col-9" id="v-pills-tabContent">
        <div class="tab-pane fade active show" id="v-pills-myorders" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

                    
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

                       
                </div>
                <div class="tab-pane fade show active" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">


                    <div class="col-12" style="box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .25), 0 3px 10px 5px rgba(0, 0, 0, 0.05) !important;margin-bottom:1px;height: auto;">
                       <div style="width: fit-content;display: flex;">
                            <img src="{{ order_data.placedorder_book.bookfront_cover.url }}" alt="Paris" class="100px" style="margin-top:10PX;margin-bottom:10PX" height="" width="100px">
                            <div style="margin-left:51px;margin-top:10px;">
                                <h4 style="font-size: 16px;"> {{ order_data.placedorder_book.name }} </h4><br>
                                <p class="card-text mb-6"> {{ order_data.placedorder_book.standard }} {{ dest.placedorder_book.pattern }} </p>
                                <p class="card-text mb-6"> {{ order_data.placedorder_book.price }} </p>
                                <p class="card-text mb-6"> quantity </p>
                            </div>

                        </div>
                    </div>

                    <div class="col-12" style="display: flex;padding: 0px;">
                    
                        <div class="col-6" style="box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .25), 0 3px 10px 5px rgba(0, 0, 0, 0.05) !important;margin-top:10px;margin-right:10px;height: auto;padding-top: 1px;">
                            <h4 style="font-size: 16px;margin-top:20px;"> Delivery Address </h4>
                            <div style="width: fit-content;display: flex;">
                                <div style="margin-left:10px;margin-top:10px;">
                                    <p class="card-text mb-6"> {{ order_data.address.name }} </p>
                                    <p class="card-text mb-6"> {{ order_data.address.address_full }} </p>
                                    <p class="card-text mb-6"> {{ order_data.address.pincode }} </p>
                                    <p class="card-text mb-6"> quantity </p> <br>

                                    <h4 style="font-size: 16px;margin-left:-10px;"> Phone number </h4>
                                
                                    <p class="card-text mb-6" style="margin-bottom:10px;float:left;"> {{ order_data.address.mobilenumber }} </p> 

									<input type="submit" style="margin-left: 47px;padding: 0px 7px;font-size: 13px;font-weight: bold;" class="apply btn btn-outline-dark dro-but"  value="Change" />

                                </div>
                            </div>
                        </div>

                        <div class="col-6" style="box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .25), 0 3px 10px 5px rgba(0, 0, 0, 0.05) !important;margin-top:10px;margin-right:10px;height: auto;padding-top: 1px;">
                            <h4 style="font-size: 16px;margin-top:20px;"> Details </h4>
                            <div style="width: fit-content;display: flex;">
                                <div style="margin-left:10px;margin-top:10px;">
                                    <p class="card-text mb-6"><spam style="font-weight: 500;"> Placed at :</spam> {{ order_data.date_time }} </p>
                                    <p class="card-text mb-6"><spam style="font-weight: 500;"> Payment mode :</spam> cash on delivery </p>
                                    <p class="card-text mb-6"> <spam style="font-weight: 500;">Expected delivey : </spam> {{ expected_delivery_date|date:'d-m-Y' }} </p> <br>
        
                                    <h4 style="font-size: 16px;margin-left:-10px;"> Delivery Agent details </h4> 
                                    <p class="card-text mb-6"> <spam style="font-weight: 500;">Name : </spam>Pratik Gosavi </p>
                                    <p class="card-text mb-6"><spam style="font-weight: 500;"> Mobile :</spam> +91 8830265487 | +91 8237377298 </p>
                                
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}